include pyproject.toml

# Include the README
include *.md
include ./images/*.png

# Include the license file
include LICENSE.txt

# Include setup.py
include setup.py
include addUser.py 

# Include the sample config file
include example-connection.properties
include example-quotas.json
include logging.properties